.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}



.navbar {
  height: 50px;
  background: #5193b3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.navbar .logo {
  color: white;
  font-weight: bold;
}

.navbar .add-button{
  color: white;
  text-decoration: none;
  background: #64c4c3;
  height: 25px;
  width: 50px;
  font-weight: bold;
  padding-top: 5px ;
}

.pinned-articles{
  background: #f1f1f1;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
}

.pinned-articles .title{
  text-align: left;
  font-weight: bold;
  color: #363636;
  display: block;
}

.pinned-articles .card{
  width: 200px;
  text-align: left;
}
.pinned-articles .card{
  width: 200px;
  text-align: left;
}
.pinned-articles .card .card-content .title{
  width: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.pinned-articles .card .card-content .category{
  background: #cdcdcd;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 14px;
}

.pinned-articles .card-image img{
  width: 100px;
  height: 150px;
}


.register {
  max-width: 90%;
  width: 400px;
  margin: 0 auto;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.styled-input{
  width: 80%;
  height: 50px;
  margin: 10px auto;
  border-radius: 5px;
  border: solid 2px #cdcdcd;
  background: white;
  display: block;
  
  
}
.primary-button{
  display: block;
  width: 80%;
  height: 50px;
  margin: 0 auto;
  background: #5193b3;
  color: white;
  border: none;
  border-radius: 5px;
}